<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Objetivos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384- BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="styles/style.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="./vue-list/index.js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</head>
<body>
    <div id="app">
        <div class="navbar-first">
            <div class="logo">
                <a href="./index.html">
                    <img src="./imagenes/logo.png" alt="Logo">
                </a>
            </div>
            <div class="search-bar">
                <form>
                    <input type="text" placeholder="Buscar...">
                    <button type="submit">Buscar</button>
                </form>
            </div>
            <div class="profile-bar">
                <a href="./perfil.html">
                    <img src="./imagenes/perfil.jpg" alt="Perfil">
                </a>
                <a href="./carrito.html">
                    <img src="./imagenes/carrito.jpg" alt="Carrito">
                </a>
            </div>
        </div>
        <div id="index">
            <div class="navbar-second">
                <div class="navbar-left">
                    <ul>
                        <li class="dropdown" v-for="item in navegacion">
                            <a :href="item.urlNav">{{item.texto}}</a>
                            <div class="dropdown-menu">
                                <a v-for="producto in item.productos" :href="producto.url">{{producto.nombre}}</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="navbar-right">
                    <a v-for="obj in objetivos" :href="obj.url">{{obj.texto}}</a>
                </div>
            </div>
        </div>

        <section id="aboutUs">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Sobre nosotros</h2>
                        <p>Somos una empresa dedicada a la venta de suplementos deportivos de alta calidad. Nos enorgullece ofrecer a nuestros clientes los mejores productos del mercado, con el objetivo de ayudarlos a alcanzar sus objetivos deportivos.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="objectives">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Objetivos</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Proteína</h3>
                        <p>Ofrecemos una amplia variedad de proteínas de alta calidad, ideales para ayudar a tus músculos a recuperarse después de una intensa sesión de entrenamiento.</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Creatina</h3>
                        <p>La creatina es ideal para aumentar la fuerza y la resistencia en el entrenamiento, lo que te permitirá alcanzar tus metas deportivas de manera más efectiva.</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Quemadores de grasa</h3>
                        <p>Nuestros quemadores de grasa son ideales para ayudarte a perder esos kilos de más y lograr el cuerpo que siempre has deseado.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
