#searchProduct {
    position: relative;
}

#search-product {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
}

#dropdown-search {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 320px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#dropdown-search.active {
    display: block;
}

#dropdown-search li {
    margin-bottom: 10px;
    cursor: pointer;
    list-style: none; /* Elimina el punto de la lista */
}

#dropdown-search li:hover {
    background-color: #f2f2f2;
}
