.column {
  float: left;
  width: 35%;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
}
.button {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 800px;
  height: 125px;
  font-weight: bold;
  border: 2px solid #000;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  background-color: #f0f0f0;
}
.button:hover{
  background-color: #ff4444;
}
.button:visited {
  color: #000;
}
.button img {
  max-width: 60px;
  max-height: 60px;
  margin-right: 10px;
}
.button span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-top: 60px;
  margin-left: 40px;
  white-space: nowrap;

}
