.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.profile-edit {
  width: 400px;
  padding: 20px;
  background-color: #c2c0c0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.profile-edit h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
}


.btn-primary:hover {
  background-color: #0056b3;
}

.premium-label{
  display:inline-block;
}
.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label input[type="checkbox"] {
  order: 1;
  margin-right: 5px;
}

.checkbox-label .checkbox-text {
  order: 2;
}

.custom-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: red;
}

.custom-close-space {
  margin-bottom: 10px;
}
