* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

#product-container {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#box {
  display: flex;
  flex-direction: row;
}

.product-description {
  flex-basis: 50%;
  text-align: justify;
  padding-right: 1em;
  box-sizing: border-box;
  margin-left: 8em;
  margin-right: 8em;
}

.product-image {
  flex-basis: 50%;
  text-align: center;
}

.product-image .product-img {
  max-width: 100%;
  height: auto;
}

.btn-primary{
  background: dodgerblue;
}

@media (max-width: 768px) {
  .product-description,
  .product-image {
    flex-basis: 100%;
    margin-left: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .product-description {
    margin-left: 3em;
  }
}
