@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}
.navbar-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 150px;
}

.navbar-first .logo {
    display: flex;
    align-items: center;
}


.search-bar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 360px;
    height: 44px;
    position: relative;
}

.search-bar input[type="text"] {
    flex: 1;
    height: 100%;
    padding: 0 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.search-bar button {
    height: 100%;
    padding: 12px 20px;
    background-color: #FF6B6B;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#dropdown-search {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 250px; /* Altura máxima del dropdown */
    overflow-y: auto;
}

#dropdown-search ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#dropdown-search li {
    padding: 8px;
}

#dropdown-search li:hover {
    background-color: #f9f9f9;
}

#dropdown-search a {
    color: #333;
    text-decoration: none;
}

.profile-bar {
  display: flex;
  align-items: center;
}

.profile-bar img {
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-container {
  position: relative;
}

.dropdown-menu-perfil {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
  background-color: #f9f9f9;
  padding: 8px 0;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu-perfil a {
  display: block;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.dropdown-menu-perfil a:hover {
  background-color: #FF6B6B;
  color: #fff;
}

.profile-container:hover .dropdown-menu-perfil {
  display: block;
}

.navbar-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    padding: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-left li {
    position: relative;
}

.navbar-left button {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.navbar-left button:hover {
    color: #FF6B6B;
}

.navbar-left .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
    background-color: #f9f9f9;
    padding: 8px 0;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar-left .dropdown-menu a {
    display: block;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navbar-left .dropdown-menu a:hover {
    background-color: #FF6B6B;
    color: #fff;
}

.navbar-left .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-right ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-right li {
    margin-left: 20px;
}

.navbar-right li:first-child {
    margin-left: 0;
}

.navbar-right .navbar-btn {
    background-color: #FF6B6B;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.navbar-right .navbar-btn:hover {
    background-color: #fff;
    color: #FF6B6B;
    border: 1px solid #FF6B6B;
}

.logo {
    font-size: 30px;
    color: #FF6B6B;
    margin-right: auto;
}

@media only screen and (max-width: 850px) {

    .navbar-first {
        flex-direction: column;
        padding: 20px;
    }

    .search-bar {
        width: 100%;
        margin: 10px 0;
    }

    .profile-bar {
        display: none;
    }

    .navbar-second {
        flex-direction: column;
        padding: 20px;
    }

    .navbar-left {
        margin-bottom: 10px;
    }

    .navbar-left ul {
        flex-direction: column;
    }

    .navbar-left li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navbar-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar-right a {
        margin-left: 0;
    }

    .dropdown-menu {
        position: static;
        display: none;
        width: 100%;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

}
